//9 988 Colours
//Primary Colours
$black:   #000000;


//Seondary Colours

$grey:            #999999;
$light-grey:      #CCCCCC;

$white:           #FFFFFF;
$white-smoke:     #F5F5F5;

//ALERTS AND WARNINGS
$alert-red:       #cc0000;
$alert-green:     #009933;
$alert-blue:      #0000ff;
$alert-yellow:    #ffcc00;
$link-colour:     #1a0dab;



// Colour Guide
.colour-guide {
  padding-top: 0;
  padding-bottom: 0;

  p {
    color: $white;
    margin-bottom: 0;
    text-align: center;
    font-weight: bold;
  }

  .black {
    background: $black;
    color: $white;
  }
  .grey {
    background: $grey;
    color: $white;
  }
  .light-grey {
    background: $light-grey;
    p {
      color: $black;
    }
  }
  .white {
    background: $white;
    outline: 1px $light-grey solid;
    outline-offset: -1px;
    p {
      color: $black;
    }
  }
}
